:root {
  :global .light {
  .container {
    code:not(pre code) {
        --selected-bg: white;
      }
    }
  }
}

.container {
  position: relative;
  overflow: auto;
  flex: 1;
  padding-right: 10px;
  padding-left: 10px;
  table {
    padding: 4px;
    margin-bottom: 12px;
    border-radius: 10px;
    background-color: var(--pane-color);
    border-spacing: 0;
    text-align: start;
    thead {
      position: relative;
      z-index: 1111;
      color: var(--selected-text-color);

      &:before {
        position: absolute;
        z-index: -1;
        border-radius: 8px;
        background-color: var(--selected-bg);
        content: "";
        transition: 0.2s;
        inset: 0;
      }
    }
    th {
      padding: 8px;
      padding-top: 4px;
      padding-bottom: 4px;
      text-align: left;
    }
    td {
      padding: 8px;
      border-bottom: 1px solid var(--border-color);
      text-align: left;
    }
    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  a {
    color: var(--selected-text-color);
    text-decoration: none;
    &:hover {
      border-radius: 4px;
      background-color: var(--selected-bg);
    }
  }
  pre {
    overflow: auto;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: var(--pane-color);
    word-break: break-all;
    white-space: pre-wrap;
    code {
      color: var(--text-color);
      font-size: 14px;
    }
  }

  code:not(pre code) {
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--selected-text-color);
    background-color: var(--selected-bg);
  }
}
