.drawer {
  overflow: auto;
  flex-shrink: 0;
  width: 340px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
  background-color: var(--pane-color);



  * {
    list-style: none;
  }
  
  a {
    color: var(--extra-dim-text);
    font-weight: normal;
    text-decoration: none;


  }

  ul {
    padding: 0;
    margin-top: 4px;
    margin-bottom: 18px;

  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
  }
  h1 {
    display: none;
  }
  li {
    color: var(--dim-text);
    font-weight: bold;
  }
  li:has(> a) {
    a {
      --get: rgb(35, 139, 209);
      --post: rgb(64, 160, 72);
      --delete: #cf514d;
      --patch: #c9601a;
      --put: #8b8204;
      display: flex;
      padding: 6px;
      border-radius: 6px;
      transition: 0.2s;
      &:hover {
        color: var(--text-color);
        background-color: var(--hover-bg);
      }
      &[data-selected="true"] {
        color: var(--selected-text-color);
        background-color: var(--selected-bg);
      }
      span {
        flex: 1;
      }
      .method {
        align-self: flex-end;;
        flex: initial;
        width: 54px;
        padding: 2px;
        border-radius: 4px;
        color: white;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }
      
    }
  }
}

.backdrop {
  display: none;
}



@media (max-width: 410px) {
  .drawer {

    width: initial;
  }
  
}
@media (max-width: 1000px) {
  [data-state="CLOSED"] {
    display: none;
  }
  .drawer {
    position: fixed;
    z-index: 1111111111111111111111;
    top: 8px;
    bottom: 8px;
    inset: 0;
  }
  .backdrop {
    position: absolute;
    z-index: 11111;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
  }
}


