.header {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
  background-color: var(--pane-color);
}

.right {
  display: flex;
  margin-right: 8px;
  margin-left: auto;
  gap: 8px;

  .separator {
    width: 1px;
    height: 29px;
    background-color: var(--border-color);
  }
  


  
}
.button {
  padding: 4px;
  border-radius: 4px;
  color: var(--selected-text-color);
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  &:hover {
    background-color: var(--selected-bg);
  }
}

[data-open-drawer-button] {
  display: none;
}

@media (max-width: 1000px) {
  [data-open-drawer-button] {
    display: block;
  }
}